<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>STUDENT RECORDS</title>
    <style>
        table, th, td {
            text-align: left;
            padding: 5px;
            margin: auto;
        }

        #tbl-student, #tbl-student th, #tbl-student td{
            border: solid black 1px;
            border-collapse: collapse;
        }

        .form-popup {
            display: none;
            position: fixed;
            left: 50%;
            transform: translate(-50%, 0);
            border: 3px solid #f1f1f1;
            z-index: 9;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <table id="tbl-student">
        <tr>
            <th>Matric</th>
            <th>Name</th>
            <th>Email</th>
            <th>Race</th>
            <th>Gender</th>
            <th>EDIT</th>
        </tr>
        <!-- <tr>
            <td>297508</td>
            <td>Muhammad Hadif bin Azri</td>
            <td>muhdhadif.azri@gmail.com</td>
        </tr> -->
    </table>

    <div class="form-popup" id="div-edit">
    <form id="form-edit" class="form-container" action="http://localhost/school/php/update.php">
        <h1>Edit student information</h1>
        <input type="hidden" name="id" required>
        <table>
            <tr>
                <tr>
                    <th><label for="name"><b>Name</b></label></th>
                    <th><label for="email"><b>Email</b></label></th>
                    <th><label for="race"><b>Race</b></label></th>
                    <th><label for="gender"><b>Gender</b></label></th>
                </tr>
            </tr>
            <tr>
                <th><input type="text" placeholder="Name" name="name" required></th>
                <th><input type="text" placeholder="Email" name="email" required></th>
                <th><input type="text" placeholder="Race" name="race" required></th>
                <th><input type="text" placeholder="Gender" name="gender" required></th>
            </tr>
        </table>

        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn cancel" onclick="close_popup_form()">Cancel</button>
    </form>
    </div>

    <script type="text/javascript">
        var students = new Array();
        function get_student_records(){
            $.ajax({
                type: "GET",
                url: "http://localhost/school/php/list.php",
                success: function(data){
                    // console.log(data);
                    $.each(data.data, function(index, student) {
                        students.push(student);
                        row = 
                        "<tr>" +
                            "<td>" + student.matric + "</td>" +
                            "<td>" + student.name + "</td>" +
                            "<td>" + student.email + "</td>" +
                            "<td>" + student.race + "</td>" +
                            "<td>" + student.gender + "</td>" +
                            "<td><button onclick='open_popup_form(" + index + ")'>EDIT</button></td>" +
                        "</tr>";
                        $("#tbl-student tbody").append(row);
                    });
                    // console.log(students);
                }
            });
        }
        get_student_records();

        $("#form-edit").submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var actionUrl = form.attr('action');

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                success: function(data){
                    alert("Success!");
                    location.reload();
                }
            });
        });

        function open_popup_form(index) {
            $("#div-edit").show();
            $("input[name=id]").val(students[index].id);
            $("input[name=name]").val(students[index].name);
            $("input[name=email]").val(students[index].email);
            $("input[name=race]").val(students[index].race);
            $("input[name=gender]").val(students[index].gender);
        }

        function close_popup_form() {
            $("#div-edit").hide();
        } 
    </script>

</body>
</html>